.selectBoxArrow{
margin-top:0px;
float:left;
position:absolute;
right:0px;
bottom: -1px;
}	
.selectBoxInput{
border:0px;
padding-left:1px;
height:16px;
--position:absolute;
--top:0px;
--left:0px;
}

.selectBox{
border:1px solid #dedede;
height:16px;
}
.selectBoxOptionContainer{
position:absolute;
border:1px solid #dedede;
height:100px;
background-color:#FFF;
left:-1px;
top:16px;
text-align: left;
visibility:hidden;
overflow-x: hidden;
overflow-y: auto;
z-index:1000;
}
.selectBoxIframe{
position:absolute;
background-color:#FFF;
border:0px;
z-index:999;
}
.selectBoxAnOption{
font-family:verdana;
font-size:10px;
cursor:default;
margin:1px;
overflow:hidden;
white-space:nowrap;
}
